/* ----------------------- HTML ----------------------- */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------- Body----------------------- */
#index {
    padding: 0;
    margin: 0;
    color: #F5F5F5;
    font-family: "Agency FB", sans-serif;
    overflow-x: hidden;
}

/* ----------------------- Contenedor de Video ----------------------- */
.video-container {
    width: auto;
    height: 100vh;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

/* ----------------------- Menú ----------------------- */
.divMenu {
    position: fixed;
    z-index: 1000;
    font-size: 3em;
    width: 100%;
    height: 11vh;
    border-bottom-style: solid;
    border-width: 1px;
    transition: background-color 0.3s, backdrop-filter 0.3s;
}

.divMenu.no-blur {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: none;
}

.divMenu.blur {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 2vh 0;
    
}

.menu li a {
    color: #F5F5F5;
    text-decoration: none;
    transition: 0.2s ease;
    text-shadow: 0 0 5px rgb(139, 14, 39), 0 0 10px rgb(139, 14, 39), 0 0 20px rgb(139, 14, 39),
                0 0 40px rgb(139, 14, 39), 0 0 80px rgb(139, 14, 39);
}

.menu li a:hover {
    color: #bebebe; /* #CDC6A5 */
    cursor: pointer;
}

/* ----------------------- Titulos separadores ----------------------- */
.dividerTitle {
    background-image: linear-gradient(to bottom , black, #303030, black);/* background-image: url(../Imagenes/dividerTitle.png);*/
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 13vh;
    border-style: solid;
    border-color: rgb(48, 48, 48);
    border-width: 1px 0;
}

.dividerTitle div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    font-size: 4em;
    color: #F5F5F5;
    text-shadow: 0 0 5px #586A6A, 0 0 10px #586A6A, 0 0 20px #586A6A,
                0 0 40px #586A6A, 0 0 80px #586A6A;
}


/* ----------------------- Id del Section ----------------------- */
#content {
    width: auto;
    height: auto;  /* 97vh; */
    background-image: url(../Imagenes/Background2.png);
    background-size: 120%;
    background-position: center;
    background-repeat: repeat;
}

#content .sect {
    background: rgba(0,0,0,0.4);
    padding: 10px;
}

/* ----------------------- IDs del Index ----------------------- */
 #story, #factions, #gallery {
    scroll-margin-top: 11vh;
}
/* ------------------------------------------------------------- */

/* ----------------------- Usuarios (Actualmente descartado) ----------------------- */
/* .users {
    margin: auto 0;
    font-size: 2em;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    text-shadow: 0 0 5px rgb(139, 14, 39), 0 0 10px rgb(139, 14, 39), 0 0 20px rgb(139, 14, 39),
                0 0 40px rgb(139, 14, 39), 0 0 80px rgb(139, 14, 39);
}

.users:hover {
    color: black;
    cursor: pointer;
}*/

/* ----------------------- Div de la historia ----------------------- */
.divStory {
    position: relative;
    width: 50%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 55px;
    box-shadow: 0px 0px 5px 1px #586A6A;
}

.divStory::before {
    content: "";
    position: absolute;
    top: -32px;
    left: -32px;
    width: 140px;
    height: 140px;
    background-image: url(../Imagenes/Root.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-70deg);
}

.divStory::after {
    content: "";
    position: absolute;
    bottom: -32px;
    right: -32px;
    width: 140px;
    height: 140px;
    background-image: url(../Imagenes/Root.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(110deg);
}

.cite {
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.cite:nth-child(2) {
    text-align: right;
}

/* ----------------------- Divs de las facciones ----------------------- */
.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont a {
    text-decoration: none;
}

.reen {
    display: flex;
    margin: 5px 5px;
    border-style: double;
    box-sizing: border-box;
    border-color: #8b0e27;
    box-shadow:inset 0px 0px 0px 1px black;
    height: 36vh;
    width: 36vw;
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
}

.reen:hover {
    background-size: 120%;
    cursor: pointer;
}

.forest {
    background-image: url(../Imagenes/Forest2.jpg);
}

.sinners {
    background-image: url(../Imagenes/Sinners2.jpg);
}

.strays {
    background-image: url(../Imagenes/Strays2.jpg);
}

.others {
    background-image: url(../Imagenes/Others2.jpg);
}

.textreen {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    font-size: 5em;
    text-shadow: 0px 0px 10px gray;
}

/* ----------------------- Galería ----------------------- */

.carousel {
    position: relative;
    width: 72%;
    height: 748px;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
    border-style: double;
    border-width: 3px;
    border-color:#000000;
    box-shadow: 0px 0px 5px 1px #586A6A;
}

.carousel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel img.active {
    opacity: 1;
    z-index: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: black;
    color: #f5f5f5;
    border-style: solid;
    border-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #586A6A;
    padding: 0 6px 4px 6px;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover {
    color: black;
    background-color: #f5f5f5;
    border-color: black;
    box-shadow: 0px 0px 5px 1px #8b0e27;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.thumbnails {
    height: 8vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.thumbnails img {
    width: 5.5vw;
    height: 100%;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.thumbnails img:hover {
    opacity: 1;
}

.thumbnails img.active {
    opacity: 1;
    /*border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #5B0E27;*/
}

/* ----------------------- footer ----------------------- */
footer {
    max-height: 15vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    background-color: black;
    border-top: 2px solid #586A6A;
}

.copyright {
    text-shadow: 0px 0px 8px #f5f5f5;
}

/* ----------------------- Logo ----------------------- */
.imglogoIndex {
    width: auto;
    height: 100%;
    padding: 10px;
}

.imglogoIndex img {
    width: 30vw;
    height: auto;
    max-height: 100%;
    filter: drop-shadow(0 0 15px #8b0e27);
    transition: opacity 0.3s ease;
}

.imglogoIndex img:hover {
    opacity: 0.7;
}