.titForm {
    text-shadow: 0 5px #8b0e27, 0 0 10px rgb(139, 14, 39), 0 0 20px rgb(139, 14, 39),
                0 0 40px rgb(139, 14, 39), 0 0 80px rgb(139, 14, 39);
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.formGroup p {
    margin-top: 15px;
}

.formGroup > div {
    width: 100%;
}

.formGroup > div label {
    float: left;
    padding-top: 18px;
    margin-top: 0;
}

.formGroup > div button {
    float: right;
}

.error {
    color: #ff4d6d;
    font-size: 14px;
    margin-top: 4px;
    min-height: 18px;
    opacity: 1;
    transition: opacity .3s ease;
}

.errimage {
    margin: 0px auto 10px;
}

.message{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 85%;
    font-size: 15px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 15px;
    text-shadow: 0 0 5px #8b0e27;
}