/* ----------------------- HTML ----------------------- */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------- BODY ------------------------- */
#dashboard {
    background-image: url(../Imagenes/Background3.png);
    background-size: 120%;
    background-position: center;
    background-repeat: repeat;
    font-family: "Agency FB", sans-serif;
    color: #F5F5F5;
    overflow-x: hidden;
}
/* --------------------------------------------------------- */

/* -------------------------- Contenido principal -------------------------- */
.mainContent {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

/* -------------------------- Perfil -------------------------- */
.profileCard {
    display: flex;
    gap: 30px;
    background: rgba(0,0,0,0.7);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #586A6A;
    box-shadow:
        0 0 10px #586A6A,
        inset 0 0 15px #000;
    width: 100%;
}

.profileImage {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #8B0E27;
    box-shadow: 0 0 15px #8B0E27;
}

.profileRight {
    flex: 1;
}

.profileRight h2 {
    font-size: 2em;
    color: #F5F5F5;
}

.profileLeft {
    text-align: center;
}

.email {
    color: #B7B6C1;
    margin-bottom: 20px;
}

.infoBlock {
    margin-top: 20px;
    padding: 15px;

    background: rgba(0,0,0,0.5);
    border-left: 3px solid #8B0E27;
}

.infoBlock h3 {
    margin-bottom: 10px;
    color: #8B0E27;
}

/* -------------------------- Borrar cuenta -------------------------- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox {
    background: #000;
    padding: 30px;
    border-radius: 15px;

    border: 1px solid #8B0E27;

    box-shadow: 0 0 20px #8B0E27;
}

/* -------------------------- FORMULARIOOOO -------------------------- */
.form {
    width: 100%;
    font-size: 25px;
}

input[type=text], 
input[type=password],
input[type=submit], 
textarea {
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Agency FB", sans-serif;
}

textarea {
    resize: none;
    height: 200px;
}

input[type=file] {
    margin-bottom: 20px;
}

input[type=submit] {
    border: 1px solid #8B0E27;
    border-radius: 6px;
    font-size: 25px;
    padding: 8px;
    color: #F5F5F5;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Agency FB", sans-serif;
    box-shadow:
        0 0 5px #8B0E27,
        0 0 10px #8B0E27;
    transition: all 0.3s ease;
    /*color: #f5f5f5;
    background-image: linear-gradient(to bottom , black, black, #303030, black, black);*/
}

input[type=submit]:hover {
    cursor: pointer;
    color: #ffffff;
    border-color: #586A6A;
    font-family: "Agency FB", sans-serif;
    box-shadow:
        0 0 5px #586A6A,
        0 0 15px #586A6A;
    /*background-image: linear-gradient(to bottom , #171717, #171717, #3f3f3f, #171717, #171717); background-image: linear-gradient(to bottom , #8b0e27, #4f0816, #8b0e27); */
}

.previewContainer {
    width: 250px;
    height: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}